* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #d4cfd4;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #333;
    color: white;

    /* Alinhado no centro - Comentado alinha a Esquerda  */
    display: flex;
    justify-content: center;
    padding: 1rem;
}